
.header img{
    width:60px;
    height:60px;
}
.header{
    grid-area: h;
    background-color: #383a45;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.loginLink{
    color: white;
    text-decoration: none;
}